### First I filtered by district, as districts 1 and 4 shared the same number of stops. Then, I sorted if an arrest was made or not. Simple, because I think the scope of this project is to show how well we use JS.

In [75]:
import numpy as np
import pandas as pd
policeDF = pd.read_csv("denver-1.nov.csv")

In [3]:
policeDF.head()

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
0,1,2012-11-13,00:02:22,8500 W CRESTLINE AVE,39.618329,-105.092691,4,423,vehicular,K - Street Check Completed,False,False,False,NaN
1,16,2012-11-29,00:25:01,8500 W CRESTLINE AVE,39.618329,-105.092691,4,423,vehicular,Party Advised,False,False,False,NaN
2,72,2012-11-23,22:58:10,4830 S HOLLAND WAY,39.630666,-105.102551,4,423,vehicular,K - Street Check Completed,False,False,False,NaN
3,121,2012-11-27,17:48:33,4885 S QUEBEC ST,39.626174,-104.904062,3,324,pedestrian,In Service,False,False,False,NaN
4,138,2012-11-14,23:46:58,W LAYTON AVE / S WADSWORTH BLVD,39.630150,-105.081693,4,423,vehicular,Party Advised,False,False,False,NaN

In [4]:
policeDF["precinct"].value_counts()

223     369
311     294
411     293
412     290
621     281
611     278
111     271
211     256
421     233
121     218
221     210
521     207
212     202
122     193
312     187
612     174
423     171
422     171
213     169
112     167
None    166
113     155
123     154
623     147
313     140
222     132
511     132
622     124
512     115
322     104
323      84
522      73
314      66
321      53
523      44
324      40
759       2
Name: precinct, dtype: int64

In [7]:
policeDF["arrest_made"].value_counts()

False    5380
True      985
Name: arrest_made, dtype: int64

In [9]:
policeDF["district"].value_counts()

2       1338
1       1158
4       1158
6       1004
3        968
5        571
None     166
7          2
Name: district, dtype: int64

In [22]:
_c0 = policeDF['arrest_made'] == True
_c1 = policeDF['district'].isin(['1','2'])
#_c2 = policeDF['district'] == '4'
policearrestDF = policeDF[_c0 & _c1]
print(policearrestDF.shape)
policearrestDF

(454, 14)

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
2022,200822,2012-11-16,00:18:16,777 N BANNOCK ST,39.728131,-104.990205,1,123,pedestrian,Arrest Made,True,False,False,arrest
2024,200842,2012-11-15,22:57:06,777 N BANNOCK ST,39.728131,-104.990205,1,123,pedestrian,Arrest Made,True,False,False,arrest
2025,200865,2012-11-11,03:14:28,600-BLK N WINONA CT,39.726413,-105.047558,1,122,vehicular,Arrest Made,True,False,False,arrest
2026,201213,2012-11-14,08:10:32,E 6TH AVE / N ADAMS ST,39.725604,-104.948401,2,213,vehicular,Arrest Made,True,False,False,arrest
2028,201306,2012-11-02,06:21:57,W 7TH AVE / N KALAMATH ST,39.727320,-105.000192,1,123,vehicular,"Arrest Made,T - Citation Issue",True,True,False,arrest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,611157,2012-11-14,00:32:46,E 47TH AVE / N THOMPSON CT,39.781945,-104.955143,2,212,vehicular,Arrest Made,True,False,False,arrest
5928,611737,2012-11-17,21:34:34,E 48TH AVE / N CLAYTON ST,39.783750,-104.954109,2,212,vehicular,Arrest Made,True,False,False,arrest
5930,611960,2012-11-26,01:59:05,I70 WB / N SHERIDAN BLVD,39.783689,-105.053184,1,111,vehicular,Arrest Made,True,False,False,arrest
5933,612147,2012-11-08,06:46:53,4757 N VASQUEZ BLVD,39.783007,-104.948701,2,212,pedestrian,Arrest Made,True,False,False,arrest
5934,612327,2012-11-20,22:51:16,I70 WB / N BRIGHTON BLVD,39.780130,-104.966857,2,212,vehicular,Arrest Made,True,False,False,arrest

In [29]:
_c0 = policeDF['arrest_made'] == True
_c1 = policeDF['district'].isin(['1','2'])
#_c2 = policeDF['district'] == '4'
policearrestDF = policeDF[_c0 & _c1]
print(policearrestDF.shape)
policearrestDF

(454, 14)

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
2022,200822,2012-11-16,00:18:16,777 N BANNOCK ST,39.728131,-104.990205,1,123,pedestrian,Arrest Made,True,False,False,arrest
2024,200842,2012-11-15,22:57:06,777 N BANNOCK ST,39.728131,-104.990205,1,123,pedestrian,Arrest Made,True,False,False,arrest
2025,200865,2012-11-11,03:14:28,600-BLK N WINONA CT,39.726413,-105.047558,1,122,vehicular,Arrest Made,True,False,False,arrest
2026,201213,2012-11-14,08:10:32,E 6TH AVE / N ADAMS ST,39.725604,-104.948401,2,213,vehicular,Arrest Made,True,False,False,arrest
2028,201306,2012-11-02,06:21:57,W 7TH AVE / N KALAMATH ST,39.727320,-105.000192,1,123,vehicular,"Arrest Made,T - Citation Issue",True,True,False,arrest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,611157,2012-11-14,00:32:46,E 47TH AVE / N THOMPSON CT,39.781945,-104.955143,2,212,vehicular,Arrest Made,True,False,False,arrest
5928,611737,2012-11-17,21:34:34,E 48TH AVE / N CLAYTON ST,39.783750,-104.954109,2,212,vehicular,Arrest Made,True,False,False,arrest
5930,611960,2012-11-26,01:59:05,I70 WB / N SHERIDAN BLVD,39.783689,-105.053184,1,111,vehicular,Arrest Made,True,False,False,arrest
5933,612147,2012-11-08,06:46:53,4757 N VASQUEZ BLVD,39.783007,-104.948701,2,212,pedestrian,Arrest Made,True,False,False,arrest
5934,612327,2012-11-20,22:51:16,I70 WB / N BRIGHTON BLVD,39.780130,-104.966857,2,212,vehicular,Arrest Made,True,False,False,arrest

In [61]:
filterDF = policeDF['district'].isin(['1','2'])
filterDF

0       False
1       False
2       False
3       False
4       False
        ...
6360    False
6361    False
6362    False
6363    False
6364    False
Name: district, Length: 6365, dtype: bool

In [63]:
subsetDataFrame = policeDF[policeDF['district'].isin(['1', '2']) ]
subsetDataFrame

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
2005,199276,2012-11-13,10:34:44,600-BLK N BRYANT ST,39.725731,-105.018676,1,122,vehicular,T - Citation Issued,False,True,False,citation
2008,199817,2012-11-11,12:35:31,N DETROIT ST / E 7TH AVE,39.727124,-104.954392,2,213,vehicular,T - Citation Issued,False,True,False,citation
2009,199899,2012-11-12,22:41:23,700-ELATI N FOX ST,39.727328,-104.995200,1,123,vehicular,In Service,False,False,False,NaN
2011,200032,2012-11-24,00:57:29,800 N HAZEL CT,39.729318,-105.027507,1,122,vehicular,Party Advised,False,False,False,NaN
2016,200122,2012-11-07,07:20:54,0 W 6TH AVE / I25 NB,39.725538,-105.013127,1,123,vehicular,In Service,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5946,613198,2012-11-13,14:16:35,W REGIS BLVD / N LOWELL BLVD,39.787446,-105.034570,1,111,vehicular,L - Clearance,False,False,False,NaN
5951,613653,2012-11-29,08:42:31,5000-BLK N VASQUEZ BLVD,39.787693,-104.944334,2,212,vehicular,In Service,False,False,False,NaN
5952,613657,2012-11-18,01:38:07,5000 N VASQUEZ BLVD,39.787693,-104.944334,2,212,vehicular,In Service,False,False,False,NaN
5954,613985,2012-11-07,16:05:51,E 51ST AVE / N BROADWAY ST,39.789220,-104.987561,1,112,pedestrian,In Service,False,False,False,NaN
5963,614795,2012-11-10,17:04:21,I70 EB / N FEDERAL BLVD,39.784228,-105.025190,1,111,vehicular,T - Citation Issued,False,True,False,citation

In [46]:
fiveHourGames = policeDF[policeDF['district']== "2"]
fiveHourGames

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
2008,199817,2012-11-11,12:35:31,N DETROIT ST / E 7TH AVE,39.727124,-104.954392,2,213,vehicular,T - Citation Issued,False,True,False,citation
2017,200359,2012-11-15,08:53:08,E 7TH AVE / N JOSEPHINE ST,39.727119,-104.959022,2,213,vehicular,T - Citation Issued,False,True,False,citation
2026,201213,2012-11-14,08:10:32,E 6TH AVE / N ADAMS ST,39.725604,-104.948401,2,213,vehicular,Arrest Made,True,False,False,arrest
2027,201217,2012-11-13,23:41:18,E 6TH AVE / N ADAMS ST,39.725604,-104.948401,2,213,vehicular,Warning Issued,False,False,True,warning
2036,202065,2012-11-28,10:54:22,N JOSEPHINE ST / E 7TH AVE,39.727119,-104.959022,2,213,vehicular,T - Citation Issued,False,True,False,citation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5929,611744,2012-11-27,09:02:33,E 48TH AVE / N CLAYTON ST,39.783750,-104.954109,2,212,vehicular,K - Street Check Completed,False,False,False,NaN
5933,612147,2012-11-08,06:46:53,4757 N VASQUEZ BLVD,39.783007,-104.948701,2,212,pedestrian,Arrest Made,True,False,False,arrest
5934,612327,2012-11-20,22:51:16,I70 WB / N BRIGHTON BLVD,39.780130,-104.966857,2,212,vehicular,Arrest Made,True,False,False,arrest
5951,613653,2012-11-29,08:42:31,5000-BLK N VASQUEZ BLVD,39.787693,-104.944334,2,212,vehicular,In Service,False,False,False,NaN
5952,613657,2012-11-18,01:38:07,5000 N VASQUEZ BLVD,39.787693,-104.944334,2,212,vehicular,In Service,False,False,False,NaN

In [67]:
subsetDataFrame = policeDF[policeDF['district'].isin(['1', '4']) ]
subsetDataFrame

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
0,1,2012-11-13,00:02:22,8500 W CRESTLINE AVE,39.618329,-105.092691,4,423,vehicular,K - Street Check Completed,False,False,False,NaN
1,16,2012-11-29,00:25:01,8500 W CRESTLINE AVE,39.618329,-105.092691,4,423,vehicular,Party Advised,False,False,False,NaN
2,72,2012-11-23,22:58:10,4830 S HOLLAND WAY,39.630666,-105.102551,4,423,vehicular,K - Street Check Completed,False,False,False,NaN
4,138,2012-11-14,23:46:58,W LAYTON AVE / S WADSWORTH BLVD,39.630150,-105.081693,4,423,vehicular,Party Advised,False,False,False,NaN
5,166,2012-11-27,00:49:39,4490 S KIPLING ST,39.634297,-105.109902,4,423,pedestrian,Party Advised,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5941,612884,2012-11-26,09:22:06,4915 N GRAY ST,39.785906,-105.061391,1,111,vehicular,T - Citation Issued,False,True,False,citation
5944,613043,2012-11-15,22:21:02,4900 N WASHINGTON ST,39.785579,-104.978299,1,112,vehicular,T - Citation Issued,False,True,False,citation
5946,613198,2012-11-13,14:16:35,W REGIS BLVD / N LOWELL BLVD,39.787446,-105.034570,1,111,vehicular,L - Clearance,False,False,False,NaN
5954,613985,2012-11-07,16:05:51,E 51ST AVE / N BROADWAY ST,39.789220,-104.987561,1,112,pedestrian,In Service,False,False,False,NaN
5963,614795,2012-11-10,17:04:21,I70 EB / N FEDERAL BLVD,39.784228,-105.025190,1,111,vehicular,T - Citation Issued,False,True,False,citation

In [71]:
fullyFilteredDF = pd.crosstab(subsetDataFrame['district'],subsetDataFrame['arrest_made'])
fullyFilteredDF
#jsonDF = subsetDataFrame['district','arrest_made']

arrest_made  False  True
district
1              958    200
4             1009    149

In [74]:
fullyFilteredDF.to_json (r'C:\Users\simonnaylor\Desktop\fullyFiltered.json')